@charset "utf-8";
/* CSS Document */

.InnerHeader .navbar-toggle{ display: none; }
.Header .navbar .navbar-brand img{ width: 120px }
.Header .navbar .navbar-brand p{ 
    color: #fff;
    font-size: 13px;
    font-family: Roboto;
    margin: 5px 0 0 0;
    line-height: 12px;
}

.InnerHeader .navbar .navbar-brand img{ width: 120px }
.InnerHeader .navbar .navbar-brand p{ 
    color: #fff;
    font-size: 13px;
    font-family: Roboto;
    margin: 5px 0 0 0;
    line-height: 12px;
}
.FeaturejobBox .thumbimpr .Wishlist{ padding: 0px }

.owl-theme .owl-dots .owl-dot{outline: 0;margin: 0 5px 10px;}
.owl-theme .owl-dots .owl-dot span{margin: 0;width: 16px !important;height: 16px !important;border-radius: 50% !important;border-width: 4px !important;}

.forminputspswd ul.multiselect-container{
    width: 100%;
}

.forminputspswd ul.multiselect-container li{}

.forminputspswd ul.multiselect-container li.multiselect-item{
    padding: 6px;
}

.forminputspswd ul.multiselect-container li.multiselect-item .input-group{
    margin: 0;
}

.forminputspswd ul.multiselect-container li.multiselect-item .input-group input{
	margin: 0
}

.forminputspswd ul.multiselect-container li.multiselect-item span{
    display: none;
}

.forminputspswd ul.multiselect-container li a{
    display: block;
    text-decoration: none;
    color: #000;
    font-family: Roboto;
}

.forminputspswd ul.multiselect-container li a label{
    display: block;
    padding: 10px 20px 10px 35px;
    font-family: Roboto;
    position: relative;
}

.forminputspswd ul.multiselect-container li a label input{
    margin: 0;
    position: absolute;
    top: 13px;
    left: 15px;
}



@media screen and (max-width: 1199px) and (min-width: 992px) {

	.Header .container{ width: 100% }
	.InnerHeader .navbar .container{width: 100% !important;max-width: inherit;}

	.SliderArea .container{ width: 100% }
	.JobArea .JobHead ul.nav-tabs{ display: block; }
	.JobArea .JobHead ul.nav-tabs li{ display: inline-block; margin: 0 20px 40px 0; } 

	.Header .navbar .navbar-brand{width:135px}
	.Header .navbar .navbar-nav{margin:9px 0 9px 10px}
	.Header .navbar .navbar-nav li a{font-size:14px}
	.Header .navbar .navbar-nav.navbar-right li a{padding:7px 20px}
	.SearchArea .SearchRight{height:585px}



}

@media screen and (max-width: 992px) and (min-width: 768px) {

	.navbar-header{float:none}
	.navbar-left,
	.navbar-right{float:none!important}
	.navbar-toggle{display:block}
	.navbar-collapse{border-top:1px solid transparent;box-shadow:inset 0 1px 0 rgba(255,255,255,.1)}
	.navbar-fixed-top{top:0;border-width:0 0 1px}
	.navbar-collapse.collapse{display:none!important; }
	.navbar-nav{float:none!important;margin-top:7.5px}
	.navbar-nav>li{float:none}
	.navbar-nav>li>a{padding-top:10px;padding-bottom:10px}
	.collapse.in{display:block!important;overflow:scroll!important;} 
	.Header .container{ width: 100% }
	.InnerHeader .navbar .container{width: 100% !important;max-width: inherit;}

	.InnerHeader{padding:15px}
	.InnerHeader .navbar-toggle{position:relative;float:right;padding:9px 10px;margin-right:15px;margin-top:8px;margin-bottom:8px;background-color:#fff;background-image:none;border:1px solid transparent;border-radius:4px;display: block;}
	.InnerHeader .navbar-toggle:focus{outline:0}
	.InnerHeader .navbar-toggle .icon-bar{display:block;width:22px;height:2px;border-radius:1px;background-color:#000}
	.InnerHeader .navbar-toggle .icon-bar+.icon-bar{margin-top:4px} 
	.collapse.show{display:block!important;overflow:scroll!important;} 
	.InnerHeader .container{width: 100% !important;max-width: inherit;}
	.InnerHeader .navbar .navbar-nav{margin:15px 0 0 0}
	.InnerHeader .navbar .navbar-nav li{margin:0 0 15px 0}
	.InnerHeader .navbar .navbar-nav.navbar-right{ margin: 0 }
	.InnerHeader .navbar .navbar-nav.navbar-right li{margin:0 0 15px 0}

	.SliderArea .container .col-sm-8,
	.SliderArea .container .col-sm-4{ width: 100% }

	.JobArea .JobHead ul.nav-tabs{display:block;text-align:center}
	.JobArea .JobHead ul.nav-tabs li{display:inline-block;margin:0 20px 40px 0}
	.Header{padding:15px;background-color: #000;}
	.navbar-toggle{margin:5px 0}
	.Header .navbar .navbar-nav{margin:15px 0 0 0}
	.Header .navbar .navbar-nav li{margin:0 0 15px 0}
	.Header .navbar .navbar-nav.navbar-right li{margin:0 0 15px 0}
	.SearchArea .SearchRight{height:705px}

	.JobListingArea .container{ width: 100% }
	.managerpart {  margin: 80px 0 0 0; }

}

@media only screen and (max-width: 768px){

	.Header{padding:15px;background-color: #000;}
	.navbar-toggle{margin:5px 0}
	.Header .navbar .navbar-nav{margin:15px 0 0 0}
	.Header .navbar .navbar-nav li{margin:0 0 15px 0}
	.Header .navbar .navbar-nav.navbar-right li{margin:0 0 15px 0}

	.InnerHeader{padding:15px}
	.InnerHeader .container{width: 100% !important;max-width: inherit;}
	.InnerHeader .navbar-toggle{position:relative;float:right;padding:9px 10px;margin-top:8px;margin-bottom:8px;background-color:#fff;background-image:none;border:1px solid transparent;border-radius:4px;display: block;}
	.InnerHeader .navbar-toggle:focus{outline:0}
	.InnerHeader .navbar-toggle .icon-bar{display:block;width:22px;height:2px;border-radius:1px;background-color:#000}
	.InnerHeader .navbar-toggle .icon-bar+.icon-bar{margin-top:4px}  
	.InnerHeader .navbar .navbar-nav{margin:15px 0 0 0}
	.InnerHeader .navbar .navbar-nav li{margin:0 0 15px 0}
	.InnerHeader .navbar .navbar-nav.navbar-right{ margin: 0 }
	.InnerHeader .navbar .navbar-nav.navbar-right li{margin:0 0 15px 0}
	
	.JobArea .JobHead ul.nav-tabs{display:block;text-align:center}
	.JobArea .JobHead ul.nav-tabs li{display:inline-block;margin:0 20px 40px 0}

	.SearchArea .SearchLeft{ margin: 0 0 20px  }
	.SearchArea .col-sm-5{ padding: 0 15px !important }

	.CompanyArea .owl-carousel .owl-nav .owl-prev, 
	.CompanyArea .owl-carousel .owl-nav .owl-next, 
	.CityArea .owl-carousel .owl-nav .owl-prev, 
	.CityArea .owl-carousel .owl-nav .owl-next, 
	.VideoArea .owl-carousel .owl-nav .owl-prev, 
	.VideoArea .owl-carousel .owl-nav .owl-next, 
	.ExpertiseArea .owl-carousel .owl-nav .owl-prev, 
	.ExpertiseArea .owl-carousel .owl-nav .owl-next, 
	.JobSlider.owl-carousel .owl-nav .owl-prev, 
	.JobSlider.owl-carousel .owl-nav .owl-next{ background-color: #f5f5f5 }

	.CompanyArea .owl-carousel .owl-nav .owl-prev, 
	.CityArea .owl-carousel .owl-nav .owl-prev, 
	.VideoArea .owl-carousel .owl-nav .owl-prev, 
	.ExpertiseArea .owl-carousel .owl-nav .owl-prev, 
	.JobSlider.owl-carousel .owl-nav .owl-prev{ left: 10px }

	.CompanyArea .owl-carousel .owl-nav .owl-next, 
	.CityArea .owl-carousel .owl-nav .owl-next, 
	.VideoArea .owl-carousel .owl-nav .owl-next, 
	.ExpertiseArea .owl-carousel .owl-nav .owl-next, 
	.JobSlider.owl-carousel .owl-nav .owl-next{ right: 10px }

	.JobSeekerArea{ display: block; }
 	.JobSeekerArea .JobSeekerLeft { width: 100%;  padding: 50px 14px 50px;}
    .JobSeekerArea .JobSeekerRight{width: 100%; padding: 50px 14px 50px;}

 	.WorkArea .WorkLeft{width:100%}
 	.WorkArea .WorkLeft figure{right:0}
 	.WorkArea .WorkImages{width:100px;padding:0;float:none;margin:0 auto 30px}
 	.WorkArea .WorkRight{width:100%}
 	.WorkArea .WorkRight figure{left:0}
 	.JobListingRight{margin:40px 0 0 0}

 	footer.homefooter .Copyright p{ text-align: center; }
 	footer.homefooter .Copyright ul{ text-align: center; }

 	.JobArea .JobHead ul.nav-tabs li.active a {background-color: #e6e6e6;color: #000;}
 	.JobArea .JobHead ul.nav-tabs li a.active { background-color: #00a94f; color: #fff; }

 	.JobArea .JobHead ul.nav-tabs li.active a span {background-color: #e6e6e6;}
 	.JobArea .JobHead ul.nav-tabs li a.active span { background-color: #00a94f; }

 	.JobArea .JobHead ul.nav-tabs li.active a span img {filter: brightness(0);}
 	.JobArea .JobHead ul.nav-tabs li a.active span img { filter: brightness(0) invert(1); }
 	.CompanyInfoArea .CompanyInfoLeft article { margin: 10px 0 20px 0; }
 	.FaqArea .FaqLeft .panel-group .panel .panel-heading h4 { font-size: 14px; line-height: 26px; }
 	.contentare.outerlgos .formsrches {  width: 100%; margin: 30px 0 0 0; }

 	.positionarea { padding: 15px 0 0 0; }
	.FeaturejobBox .thumbimpr .Wishlist{ padding: 0 }
	.FeaturejobBox .thumbimpr .Wishlist{ margin: 0 !important }


} 

@media screen and (max-width: 767px) and (min-width: 500px) { 

  	.Footer .FooterTop .Foot .DownloadApp .download-btn{ margin: 0 20px 0 0 }
  	.Footer .Copyright p{ text-align: center; }
 	.Footer .Copyright ul { text-align: center; }

 	.ExpertiseArea .col-sm-6,
 	.CompanyArea .col-sm-6,
 	.CityArea .col-sm-6{ width: 50%; float: left; }
 	
	.CityArea .CityBox figure{ height: 200px }

	.innerbglay {  margin-top: 50px; }



} 
 
@media screen and (max-width: 500px){

	.SliderArea .SliderText h3 { font-size: 20px; line-height: 27px; }
	.SliderArea .DownloadApp{ margin: 15px 0 0 0 }
	.SliderArea .DownloadApp .download-btn{ margin: 0 15px 0 0 }
	.SliderArea .DownloadApp .download-btn:nth-child(2){ margin: 0 }
	.SliderArea .DownloadApp .download-btn span{ font-size: 25px; }
	.SliderArea .DownloadApp .download-btn p{ font-size: 16px; } 

	h1.Title,
	.SearchArea h1,
	.CompanyArea h1,
	.CityArea h1,
	.VideoArea h1{ font-size: 18px;  border-left: 3px solid #084d87; padding: 0 0 0 10px; }
	h1.Title a,
	.CompanyArea h1 a,
	.CityArea h1 a { font-size: 14px; margin: 3px 0;}
	.JobArea h1.Title span { width: 22px; }
	.JobArea .JobHead ul.nav-tabs li{ width: 48%; margin: 0 0 40px 0; }
	.JobArea .JobHead ul.nav-tabs li:nth-child(2n){margin: 0 0px 40px 0;float: right;}
	.JobArea .JobHead ul.nav-tabs li a{ width: 100%; } 

	.CityArea .CityBox figure{ height: auto; }

	.JobListingBox aside{display: block;padding: 15px;}
	.JobListingBox aside figure{ width: 100% }
	.JobListingBox aside figcaption{width: 100%;padding: 15px 0 0 0;}

	.CompanyInfoArea .CompanyInfoRight ul li{ width: 48% }

	.innersliders{ width: 100%; padding: 0; margin: 0 }
	.owl-theme .owl-dots .owl-dot span{ width: 18px !important; height: 18px !important }
             
	.JobArea .JobBody h1{ font-size: 20px }
	.JobArea .JobBody h1 a{ font-size: 13px }

	.SearchArea .SearchLeft form button { padding: 10px 10px; font-size: 13px; width: 100%; }
	.forminputspswd label {
    padding: 0 0 0 20px;
}

}

















